/* ----COMMON RULES & UTILITY CLASSES */
html {
  font-family: Arial, sans-serif;
  --green: #7CBB01;
  --button-radius: 6px;
  --content-width: 80%;
  --text-color-grey: #808080;
  --background-grey: #D3D3D3;
  --wrapper-paddingX: 10%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* ----/COMMON RULES & UTILITY CLASSES */

/* ----STYLE */
/* ----header */
header {
  background: #0C325A url("../img/image.png") no-repeat 115% 110%;
  background-size: 70%;
  height: 500px;
  color: white;
}

.header-content-container {
  width: var(--content-width);
  margin: 0 auto;
  height: 100%;
  position: relative;
}

header nav {
  --nav-height: 100px;
  height: var(--nav-height);
}

header nav .logo-container {
  width: 10%;
  height: 100px;
  position: relative;
}

header nav .logo-container img {
  width: 80%;
  position: absolute;
  top: 31%;
}

header nav .main-menu {
  width: 50%;
  height: 100%;
}

header nav ul {
  list-style: none;
  text-transform: uppercase;
}

header nav ul li {
  display: inline-block;
}

header nav ul li:hover {
  background: lightblue;
}

.login-menu ul li:nth-last-child(1), .login-menu ul li:nth-last-child(2):hover {
  background: inherit;
}

header nav a {
  text-decoration: none;
}

header nav .list-link-title {
  height: 100%;
  line-height: var(--nav-height);
  padding: 0 8px;
  font-size: 10px;
  color: white;
}

header nav .login-menu {
  width: 40%;
  height: 100%;
}

header nav button {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  border-radius: var(--button-radius);
  color: white;
}

header nav li button:hover {
  cursor: pointer;
}

header nav .login-menu .login-button {
  padding: 6px 14px;
  border: 1px solid white;
  background: none;
}

header nav .login-menu .info-button {
  padding: 6px 8px;
  border: none;
  background: var(--green);
}

.header-title-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.header-title-container h1 {
  letter-spacing: 1px;
  font-size: 40px;
}

.header-title-container button {
  background: var(--green);
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 16px;
  border-radius: var(--button-radius);
  margin-top: 22px;
}
/* ----/header */

/* ----main */
.slogan-container {
  text-align: center;
  height: 100px;
  background: var(--background-grey);
  position: relative;
}

.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--content-width);
}

.slogan-title {
  padding-bottom: 5px;
  font-weight: normal;
}

.slogan-description {
  color: var(--text-color-grey);
}

.rows-container {
  width: var(--content-width);
  margin: 0 auto;
}

.row1 {
  padding: 15px 0;
}

.row1 .item-container {
  width: calc(100%/3);
  text-align: center;
  padding: 15px;
}

.row1 .item-container img {
  width: 40%;
}

.row1 .item-container h3 {
  color: var(--green);
  padding: 15px 0;
}

.row1 .item-container hr {
  border: none;
  height: 1px;
  width: 20%;
  margin: 0 auto;
  background: var(--text-color-grey);}

.row1 .item-container p {
  color: var(--text-color-grey);
  padding: 15px 0;
}
/* ----/main */




/* ----/STYLE */
